

{% block content %}

	{% load crispy_forms_tags %}          

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Olvidaste tu contraseña? ingresa tu correo abajo , te enviaremos las intrucciones para configurar una nueva .</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}                    
            <button class="btn btn-primary" type="submit">Enviar Correo</button>
        </form>
  	</div> 

{% endblock %}