
{% block content %}

{% load crispy_forms_tags %}  

<!--Password Reset Confirm-->
  <div class="container p-5">
      <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
      <hr>
      <p>Please enter your new password.</p>
      <form method="POST">
          {% csrf_token %}
          {{ form|crispy }}                    
          <button class="btn btn-primary" type="submit">Reset password</button>
      </form>
  </div>

{% endblock %}


  <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row text-light pt-3 justify-content-between">
  
          <div class="col-md-5 col-lg-3">
            <img class="logo" src="{% static 'img/logos/conarlogo.png' %}" alt="Aqui va el logo xd">
            <p>Somos una organización fundada en 2020 que tiene como objetivo principal resguardar la vida de
              nuestros pequeños amigos roedores</p>
            <div class="footer-social-wrap float-left pt-3">
              <ul class="social">
                <li><a href="https://facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li><a href="https://youtube.com/" target="_blank"><i class="fab fa-youtube-square"></i></a>
                </li>
                <li><a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
              </ul>
            </div>
          </div>
  
          <div class="col-md-5 col-lg-2 mt-md-4 ml-md-2 social text-md-right text-lg-left">
            <h5 class="pb-3">Enlaces Utiles</h5>
            <div class="footer-links">
              <p><a href="{% url 'index' %}"><i class="fas fa-home mr-3"></i>Inicio</a></p>
              <p><a href="{% url 'nosotros' %}"><i class="fas fa-address-card mr-3"></i>Nosotros</a></p>
              <p><a href="{% url 'registro' %}"><i class="fas fa-child mr-4"></i>Únete!</a></p>
              <p><a href="{% url 'contacto' %}"><i class="fas fa-paper-plane mr-3"></i>Contactanos</a></p>
            </div>
          </div>
  
  
  
          <div class="col-md-5 col-lg-3 mt-md-4 text-md-right text-lg-left">
            <h5 class="pb-3">Contactanos</h5>
            <p class="text-uppercase">CONAR</p>
            <p><i class="fas fa-map-marker-alt mr-2"></i>Antonio Varas 666 <br />
              <span class="ml-4" style="position: relative; right: 5px;">Providencia, Santiago</span></p>
            <p><i class="fas fa-phone mr-2"></i>+569 1234 56789</p>
            <p><a href="mailto:conar2020@gmail.com"><i class="fas fa-envelope mr-2"></i>conar2020@gmail.com</a>
            </p>
          </div>
  
        </div>
        <!--- Fin Row -->
      </div> <!-- Fin Container -->
      <button class="btn btn-outline-dark btn-xs" id="parriba"><i class="fas fa-chevron-up"></i></button>
    </footer>
    <!--- Fin Footer -->
  
    <!--  Socket -->
    <div class="socket text-light text-center py-3">
      <p class="">&copy; <a href="#" target="_blank">conar2020.com</a> CONAR.</p>
    </div>
    <!-- Fin Socket -->
  
    <!--- Script usados  -->
  
    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Popper JS -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Font Awesome -->
    <script src="{% static 'js/all.min.js' %}"></script>
    <!-- Plugins JS -->
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="{% static 'js/validate.js' %}"> </script>
    <!-- Elevador -->
    <script src="https://tholman.com/elevator.js/elevator.js/"></script>
    <script src="{% static 'js/elevator.js' %}"></script>
    <!-- night mode -->
    <script src="{% static 'js/nightmode.js' %}"></script>
    <!--- Fin Scripts usados -->
  
  
  
  </body>
  
  </html>
  